# Python
__pycache__/
*.py[cod]
*.so
.python-version
.venv/
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data
**/*.zarr/
**/*.nc

# Optional local scratch space
scratch/
outputs/

# OS / editor noise
.DS_Store
*~
